.signin {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 59px;
  box-shadow: 0px 0.61px 2.93px 0px #00000005;
  box-shadow: 0px 1.46px 7.05px 0px #00000007;
  box-shadow: 0px 2.75px 13.27px 0px #00000009;
  box-shadow: 0px 4.91px 23.68px 0px #0000000b;
  box-shadow: 0px 9.19px 44.28px 0px #0000000d;
  box-shadow: 0px 22px 106px 0px #00000012;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  width: 316px;
  align-self: center;
  font-family: "Roboto";
  align-items: center;
  row-gap: 21px;
  padding: 48px 33px;
}

.signin__form {
  display: flex;
  flex-direction: column;
  row-gap: 21px;
}

.signin__data {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  row-gap: 12px;
}

.signin__form_item {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.signin__title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  text-align: center;
  font-family: "Roboto";
  margin: 0px;
}

.signin__form_item_input {
  height: 36px;
  color: #bfbfbf;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding-left: 12px;
  width: 300px;
}

.signin__submit {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.signin__submit_button {
  background-color: #1890ff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  width: 316px;
  height: 40px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.signin__submit_description {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #8c8c8c;
}

.signin__submit_description a {
  text-decoration: none;
  color: #1890ff;
}

.error_message {
  margin: 0px;
  color: #f5222d;
}

.error_input {
  border: 1px solid #f5222d;
}
